@import 'tailwindcss';

/* Theme */
@theme {
  --color-deep-aqua: #0094af;
  --color-almost-black: #141414;
  --color-pale-grey: #f6f6f6;

  --font-el-messiri: 'El Messiri', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

/* Layout container */
.app-container {
  @apply container max-w-7xl mx-auto px-5;
}

@layer base {
  /* Base font */
  body {
    @apply font-poppins;
  }

  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-el-messiri font-semibold leading-[1.4] text-almost-black;
  }

  h1 {
    @apply text-4xl lg:text-[40px] xl:text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-[22px];
  }

  h6 {
    @apply text-[16px];
  }

  /* Paragraph */
  p {
    @apply font-poppins font-normal leading-normal text-gray-600 text-[16px];
  }
}

@layer components {
  /* Small paragraph */
  .p14 {
    @apply font-poppins text-[14px] text-gray-600;
  }

  /* Heading paragraph style */
  .ph {
    @apply font-el-messiri font-semibold leading-[1.6];
  }
}
